/* 
    Created on : Jan 27, 2015, 4:26:58 PM
    Author     : Roberto Torres
*/

#game{
    background-color: #000;  
}

body{
    background-color: #000;
    font-family: 'Signika', sans-serif;
}

.instrucciones{
    color:whitesmoke;
}

.table-bg {
   background-color: whitesmoke;
}